@import "tailwindcss";
@plugin "daisyui";


.navbar{
  text-decoration:rgb(37, 150, 190);
}
.navsection >li{
  
  list-style: none;
  

}
.navsection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

